.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.raleway-normal1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height:698px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 200px 158px 200px;
    gap: auto;
    width: 2040px;
    

}
.logo{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;
}
.sing-up{
    background-color: #4E47FF;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    border-radius:6px;
    cursor: pointer;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
}
.content{
    font-size: 65px;
    font-weight: bold;
}
.focus{
    margin-top: 20px;
        background-color: #4E47FF;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    border-radius:6px;
    cursor: pointer;
}