.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.raleway-normal1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height:698px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 200px 158px 200px;
    gap: auto;
    /* width: 2040px; */
    

}
.logo{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;
}
.sing-up{
    background-color: #4E47FF;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    border-radius:6px;
    cursor: pointer;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
}
.content{
    font-size: 65px;
    font-weight: bold;
}
.focus{
    margin-top: 20px;
     background-color: #4E47FF;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    border-radius:6px;
    cursor: pointer;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* action-section style */
 .action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
  width: 100%;
  gap: 7px; 
}
.img {
  margin-left: 60px;
  border-radius: 20px;
}
.left-side{
    width: 250px;
}
.btn-2{
    background-color: #4E47FF;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    border-radius:6px;
    cursor: pointer;
    margin-top: 15px;
}
.title{
    font-size: 35px;
    font-weight: bold;
    
}
.sub-title{
    font-weight: regular;
    font-size: 15px;
}

/* productive-user-section */
.secondary-bg{
    background-color: rgba(78, 71, 255, 0.1);
}
.productive-user-section{
    border-radius: 24px;
    padding: 130px 150px;
    text-align: center;
}
.users{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.description{
    font-weight: bold;
}
.section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.users-num{
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF ;
}
.description{
    font-size: 20px;
    font-weight: 400;
}

/* FeedBack section style */
.User-Feedback-Section{
    border-radius: 24px;
    padding: 130px 150px;
    text-align: center;
    margin-bottom: 0px;


}
.feedback-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
 .feedback-items{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
 }
 .container{
    border: 1px solid #F2EDED;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    margin-top: 50px;
 }
 .title{
    font-size: 24px;
    font-weight: bold;
    line-height: 70px;
     
 }
 .sub-title{
    font-size: 16px;
    line-height: 15px;
 }
 .sub-container1{
    display: flex;
    margin-top: 20px;
    gap: 40px;
 }
 .avatar{
    border-radius: 50px;
    object-fit: cover;
 }
 .date{
    color: #B3B3B3;
    padding: 0;
 }
 .name{
    color: #757575;
    font-weight: bold;
 }

 /* Focus Better Section style */
 .focus-better{
    border-radius: 24px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 0px;
    color: #FFFFFF;
 }
 .focus-title{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 40px;
 }
 .focus-btn{
     background-color: #4E47FF;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    border-radius:6px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
 }
 .wc-big{
    border-radius: 48px;
 }

 /* Get In Touch Section Stlye */
 .get-in-touch{
    padding: 130px 230px;
    display: flex;
    gap: 200px;
    background-color: rgba(187, 186, 190, 0.1);
    align-items: center;
    margin: 0 auto;
    padding: 20px;
 
 }

 .column{
    width: 50%;
    justify-content: space-between;
 }
 .column-title{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0 0 5px;
 }
 .ps{
    font-size: 18px;
    font-weight: medium;
    
 }
 section input[type="text"], section input[type="email"], section textarea{
    height: 64px;
    border-radius: 5px;
    background-color: rgb(82, 82, 82);
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border:none ;
 }